body {
    background: #f5f6fa;
    font-family: "Segoe UI", sans-serif;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  }
  
  #map {
    border-radius: 10px;
    border: 2px solid #ddd;
  }
  
  /* AUTOCOMPLETE */
  .autocomplete-list {
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    z-index: 9999;
    display: none;
  }
  
  .autocomplete-item {
    padding: 6px 10px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .autocomplete-item:hover {
    background: #eaeaea;
  }
  
  /* INFO ROUTES */
  #routesInfo div {
    background: #fff;
    border-left: 4px solid #0d6efd;
  }
  
  .btn-primary {
    font-weight: 600;
  }
  